<h1 class="text-center">Customer's  Details</h1><br><br>
<h2 class="text-center ">Name :-  <%=@customer.fname+ " " +@customer.lname%></h2>
<h2 class="text-center">Email :-  <%= @customer.email %><br></h2>
<h2 class="text-center">Phone no :-  <%= @customer.phone_number %><br></h2>
