<h1>Products Index</h1>
<%= button_to "Add new Product", new_product_path, method: :get %>
<ul>
  <% @products.each do |product|%>
    <li><%= link_to product.name, product_path(product)%></li>
  <% end %>    
</ul>
